* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

html {
    color: #222222;
    font-size: 62.5%;
    font-family: "Roboto Medium", Helvetica, Arial, sans-serif;
}

a {
    color: #222222;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #444444;
}

a:active {
    color: #666666;
}

header {
    width: 100%;
    height: 5.5rem;
    padding: 0.7rem;
    position: fixed;
    border-bottom: 1px solid #dddddd;
    background-color: rgba(255, 255, 255, 0.95);
}

main {
    margin: auto;
    overflow: hidden;
    max-width: 100rem;
    padding-top: 8rem;
}

form {
    margin: auto;
    max-width: 50rem;
}

#search-input {
    height: 4rem;
    font-size: 1.5rem;
    margin-left: 0.5rem;
    border-radius: 1rem;
    width: calc(100% - 1rem);
    border: 1px solid #bbbbbb;
    background-color: #ffffff;
    transition: all 0.2s ease-out;
    padding: 0.5rem 5rem 0.5rem 1rem;
    font-family: "Roboto Medium", Helvetica, Arial, sans-serif;
}

#search-input:hover {
    border: 1px solid #999999;
    background-color: #fdfdfd;
    box-shadow: 0px 5px 7px -5px #00000040;
}

#search-input:focus {
    border: 1px solid #777777;
    background-color: #fafafa;
    box-shadow: 0px 5px 7px -5px #00000070;
}

#search-button {
    border: 0;
    width: 5rem;
    height: 3.8rem;
    font-size: 1.5rem;
    color: transparent;
    margin: 0 0 0 -5.4rem;
    background: url(/img/refresh.png) no-repeat center;
    background-size: 2rem;
    cursor: pointer;
    font-family: "Roboto Black", Helvetica, Arial, sans-serif;
}

h1 {
    padding: 0 1rem;
    font-size: 2.5rem;
    text-align: center;
    font-family: "Roboto Black", Helvetica, Arial, sans-serif;
}

.title {
    font-size: 2rem;
    font-family: "Roboto Black", Helvetica, Arial, sans-serif;
}

#sort p {
    font-size: 1.2rem;
    line-height: 2rem;
    text-align: center;
}


#up {
    border: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: transparent;
    background: url(/img/up.png) no-repeat center;
    background-size: 2rem;
    font-family: "Roboto Black", Helvetica, Arial, sans-serif;
}

#down {
    border: 0;
    width: 2rem;
    height: 2rem;
    cursor: pointer;
    color: transparent;
    background: url(/img/down.png) no-repeat center;
    background-size: 2rem;
    font-family: "Roboto Black", Helvetica, Arial, sans-serif;
}

#articles {
    clear: both;
}

.info img {
    display: none;
}

br {
    display: none;
}

@media only screen and (min-width: 1000px) {
    img {
        float: left;
        height: 15rem;
        border-radius: 0.5rem;
    }

    .article {
        height: 15rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
        background-color: #fafafa;
    }

    .info {
        height: 100%;
        display: flex;
        overflow: hidden;
        padding: 1.5rem 2.5rem;
        flex-direction: column;
    }

    .description {
        font-size: 1.5rem;
        padding: 0.7rem 0;
    }

    .published {
        margin-top: auto;
        font-size: 1.1rem;
    }

    #sort {
        float: right;
        margin: 0.5rem 1rem 1rem 1rem;
        display: inline-flex;
    }
}

@media only screen and (max-width: 999px) {
    img {
        margin-top: 1rem;
        margin-left: 1rem;
        border-radius: 0.5rem;
        width: calc(100% - 2rem);
    }

    .article {
        margin-bottom: 1.5rem;
        background-color: #fafafa;
    }

    .info {
        height: 100%;
        display: flex;
        overflow: hidden;
        padding: 1.5rem;
        flex-direction: column;
    }

    .description {
        font-size: 1.5rem;
        padding: 1rem 0;
    }

    .published {
        margin-top: 0.5rem;
        font-size: 1.1rem;
    }

    #sort {
        float: right;
        margin: 1rem;
        display: inline-flex;
    }
}
